@import '../../vars.scss';

.heroes{
    background: white;
    height: 100%;
    padding-top: 50px;
    overflow: scroll;

    &__title{
        text-align: center;
        color: $title-color;
        font-size: 42px;
        margin-bottom: 25px;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 55px;
    }
    &__inner > .hero:nth-child(2n){
        align-self: flex-end;
    }
}