@import '../../vars.scss';

.heroes{
    background: white;
    height: 100%;
    padding-top: 50px;
    overflow-y: auto;
    padding: 35px 55px;

    &__title{
        text-align: center;
        color: $title-color;
        font-size: 42px;
        margin-bottom: 25px;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__inner > .hero:nth-child(2n){
        align-self: flex-end;
    }

    &__submit-btn{
        text-align: right;
    }

    &__message{
        color: $additional-color;
        text-align: left;
    }
}