@import '../../vars.scss';

.message {
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
    margin-bottom: 7px;

    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
    }

    &__body {
        background: rgba($main-color-2, .2);
        padding: 7px 10px;
        border-radius: 3px;
        max-width: 700px;
    }

    &__author{
        margin-bottom: 5px;
        font-weight: 600;
    }

    &__content{
        margin-bottom: 10px;
    }

    &__date{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
}

.message.currentUser{
    align-self: flex-end;
    .message__avatar{
        order: 1;
        margin-right: 0px;
        margin-left: 5px;
    }
}