@import '../../vars.scss';

.chatroom {
    width: 100%;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &__header {
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid gainsboro;
    }

    &__title {
        font-size: 26px;
        color: $title-color;
    }

    &__subtitle {
        font-size: 14px;
        color: $title-color;
    }

    &__body {
        padding: 0px 100px;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    &__messages-list {
        overflow-y: auto;
        border-left: 1px solid gainsboro;
        border-right: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 600px;
        padding: 0px 10px;
    }

    &__input {
        padding: 20px 50px;
        background: rgba($main-color-2, .1);
        margin-top: auto;
    }
}