//colors
$bg-body: #e9e8e8;
$nav-color: #414141;
$main-color: #3871c1;
$main-color-2: #9cb4d6;
$secondary-color: #f9b134;
$additional-color: #6d399e;

//fonts
%title-font{
    font-family: 'Inter';
    font-style: normal;
}

%default-font{
    font-family: 'Poppins';
    font-style: normal;
}

$title-color: rgb(61, 61, 61);
