@import '../../vars.scss';

.loader{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__txt{
        margin-top: 20px;
        @extend %title-font;
        font-size: 32px;
        color: $title-color;
    }
}